* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightsteelblue;
}

section {
    padding: 60px;
    
}

.flex-row {
    display: flex;
    
}
/* START NAVIGATION/HEADER STYLING */
.nav-container {
    background-color: #101010;
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

.nav-container h1 {
    color: #101010;
    margin: -2px;
    font-size: 36px;
    
}

.logo-box {
    border: lightsteelblue solid 3px;
    padding-left: 70px;
    background-color: lightsteelblue;
}


nav ul {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    font-size: 20px;
    text-decoration: none;
}

li a {
    padding: 20px;
    text-decoration: none;
    color: lightsteelblue;
}

span {
    border-bottom: lightsteelblue solid 3px;
}
/* END STYLING FOR NAV/HEADER */

/* HERO STYLING */
.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/resume_headings.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.hero-text {
    border: lightsteelblue solid 10px;
    float: right;
    font-size: 32px;
    background-color: lightsteelblue;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    color: darkslateblue;
}
/* END HERO STYLING */


/* ABOUT ME STYLING */
.about-container {
    display: flex;
    /* width: 100%; */
    /* align-items: center; */
    margin: 0 250px;
    height: 200px;
}

.section-title {
    padding: 16px;
    font-size: 60px;
    margin-right: 30px;
    border-right: darkslateblue solid 3px;
    color: darkslateblue;
    font-weight: bolder;
    display: flex;
    
    
}

.about-item-2{
    padding: 16px;
    font-size: 18px;
    color: darkslateblue;
    font-weight: bold;

}
/* END ABOUT ME STYLING */

/* START WORK STYLING */

.work-container{
    display: flex;
    align-items: center;
    margin: 0 250px;
    height: 200px;
    justify-content: space-between;
}

.work-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 5px;
    order: 1;
    
}


.section-title-2 {
    padding: 16px;
    font-size: 60px;
    margin-right: 30px;
    border-right: darkslateblue solid 3px;
    color: darkslateblue;
    font-weight: bolder;
    
}












